


<html>

<head>
    <meta charset="utf-8">
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Blog</title>
</head>

<body>
</body>
	<div class="container">
		<h1 class="mb-1"><%= article.title %></h1>
		<div class="text-muted"><%= article.createdAt.toLocaleDateString() %></div>
		
	</div>
	
	<a href="/" class="btn btn-secondary">All Articles</a>
	<!--	vpizdu
	<div>tento nefunguje, ale ten pod tym hej, mas zly link</div>
	<a href="/aticles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
	-->
	<div>
		<p>markdown: </p>
		<%= article.markdown %>
	</div>
	<div>
	<!--	nac..? vpizdu!
		<p>sanitizedHtml: </p>
		<%= article.sanitizedHtml %>
	-->
	</div>
	<a href="edit/<%= article.id %>" class="btn btn-info">Edit</a>
</html>